.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;
  margin-left: -14px;
  padding: 10px 10px 10px 10px;
}
.page-container {
  display: flex;
  margin-left: -9px;
  margin-right: -9px;
}
