* {
  box-sizing: border-box;
}

.container-profile {
  display: flex;
  align-items: flex-start;
}
.column {
  float: left;
  width: 25%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
  margin-left: 30px;
  align-items: center;
  display: flex;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  display: flex;
}
