.home-box6-title {
  margin-left: 452px;
  color: #00305b;
}
.row-container {
  display: flex;
  width: 600px;
}
/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.whatwedo-img {
  width: 100px;
}

.image-container {
  display: flex;
}

.image-container img {
  background: no-repeat center center;
  background-size: cover;
  margin-bottom: 10px;
  padding: 10px;
  height: 536px;
  width: 400px;
  margin-top: 23px;
  display: flex;
}
.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0, 48, 91, 0.65);
  color: white;
  padding-left: 16px;
  padding-right: 8px;
  position: relative;
  font-family: Arial;
  height: 132px;
  margin-left: -370px;
  margin-top: 416px;
  width: 379px;
  text-align: center;
  display: flexbox;
}

#btn-on-images {
  align-items: center;
  margin-right: 26px;
  margin-left: 68px;
  margin-bottom: 13px;
}

.card-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
