body {
  background-color: #f1f1f1;
}
.App {
  margin: 0 auto;
  max-width: 1250px;
  /* padding: 0 2rem 0 2rem; */
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
}
