.row,
h2 {
  text-align: right;
  font-size: 30px;
  font-weight: 600;
  margin-top: 75px;
  color: #00305b;
  /* color: #fff; */
  font-family: "Arial", Helvetica, sans-serif;
}
.banner-title {
  color: #fff;
  line-height: 1.182em;
  text-transform: uppercase;
  font-size: 42px;
}
.title-below-text {
  color: #fff;
  font-size: 17px;
  margin-left: 21rem;
}
.home-box1-content {
  height: 800px;
  background-color: rgba(0, 48, 91, 0.65);
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  padding: 20px 50px 10px 50px;
  color: #fff;
}
.home-box1-content h1 {
  color: #fff;
}
.home-box1-content-outer {
  margin-top: -76px;
  margin-left: -10px;
  display: table;
  width: 100%;
}
h1 {
  font-size: 1.692em;
  line-height: 1.182em;
  text-transform: uppercase;
  color: #fff;
  text-align: left;
}
